{% extends 'member_base.html' %}

{% block content %}

<!--**********************************
    Content body start
***********************************-->

<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>Hi, {{ current_username }}!</h4>
            <p>View fine history</p>
        </div>
    </div>
</div>
<!-- row -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">My fines</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example" class="display" style="min-width: 845px">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Doc.</th>
                                <th>Amount</th>
                                <th>Reason</th>
                            </tr>
                        </thead>
                        <tbody>   
                            {% for fine in fines %}
                            <tr>
                                <td>{{ fine.created_at.strftime('%d/%m/%Y') }}</td>
                                <td>{{ fine.fine_no }}</td>
                                <td>{{ fine.amount }}</td>
                                <td>{{ fine.reason }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Date</th>
                                <th>Doc.</th>
                                <th>Amount</th>
                                <th>Reason</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--**********************************
    Content body end
***********************************-->

{% endblock %}
